@font-face {
    font-family: 'write';
    src: url('font-write.ttf');
}

body {
    min-height: 950px;
    width: 100%;
    overflow: hidden;
    background: radial-gradient(#ffffff, #c3c3c3);
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: write;
    color: #2d3436;
}

.players {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: sandybrown;
}

.game-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: seagreen;
    margin-top: 200px;
}

.game-screen {
    display: flex;
    flex-flow: column;
    padding: 5px;
}

.item {
    width: 70px;
    height: 70px;
    padding: 10px;
    font-size: 48px;
    background-color: tan;
    text-align: center;
}

.row {
    margin-bottom: 5px;
    display: flex;
}

.row>.item:nth-child(2) {
    margin: 0px 5px;
}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.start-button {
    font-size: 5rem;
    margin-top: 150px;
    text-align: center;
    padding: 20px 10px;
    transition: 0.5s;
}

.start-button:hover {
    transform: scale(1.2);
}

#result {
    font-size: 48px;
    padding-top: 50px;
}

.no-visibility {
    display: none;
}

.title {
    margin-top: 5rem;
    font-size: 8rem;
}

.title::after {
    content: "_";
    position: absolute;
    font-size: 40rem;
    transform: scale(3, 0.4);
    margin-left: -0.67em;
    top: -11rem;
    animation: left-to-right 0.5s ease-out;
}

@keyframes left-to-right {
    from {
        transform: scale(0.1, 0.4);
        margin-left: -1.1em;
    }
    to {
        transform: scale(3, 0.4);
        margin-left: -0.67em;
    }
}